[submodule "vim/bundle/Colorizer"]
	path = vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/bundle/vim-auto-save"]
	path = vim/bundle/vim-auto-save
	url = https://github.com/907th/vim-auto-save.git
[submodule "vim/bundle/vim-coloresque"]
	path = vim/bundle/vim-coloresque
	url = https://github.com/gorodinskiy/vim-coloresque.git
[submodule "vim/bundle/vim-lion"]
	path = vim/bundle/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
